body{
    background-color: cornflowerblue
}
header{
    text-align: center;
    color: white;
    font: bold 30pt Arial;
}
section{
    background-color: white;
    margin: auto;
    height: auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px blue;
    padding: 25px;
    margin-top: 10px;
}
select#lista{
    width: 150px;
}
footer{
    text-align: center;
    color: white;
    margin-top: 5px;
}